/* Test commentaire */
/* CSS

    <head>
        <meta charset="utf-8">
        <title>Ma page</title>
        <link href="style.css" rel="stylesheet">
    </head>

    Ici on insère <link href="style.css" rel="stylesheet"> dans le fichier html pour lier le fichier css

Structure:

    h1 {
    color: blue;
    }

    Dans cet exemple:
        h1 est le selecteur (la balise)   elle s'ouvre et se ferme avec les {}
        color: est la propriété   elle est suivie de :
        blue; est la valeur       elle se termine par ;

    On écrit le nom de la balise. Puis entre accolades { } on écrit les propriétés et leurs valeurs. (On peut mettre autant de propriétés que l'on veut à l'intérieur des accolades).
    Chaque propriété est suivie du symbole : puis de la valeur correspondante.
    Chaque ligne se termine par ; 

    h1, p
    {
        color: blue;
    }
    Ceci est l'exemple si l'on veut modifier plusieurs balises pour leur attribuer les memes propriétés  */

    /* <h1 class="voici"> </h1>
        <p class="des"> </p>
        <img class="classes"> 
        Dans le ficier html avec l'attribu class on détermine le choix précit d'un élément du fichier html sur lequel appliquer la propriété choisi 
        En ajoutant class pour définir et ajouter le nom attribué
        class="xxx"
        dans le fichier css on va ajouter le nom class précédé d'un point comme l'exemple qui suit 
         .ma-classe {
            color: #663399;
        }
    
        */